*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --gray-100: #f2f2f2;
    --gray-200: #d9d9d9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1a1a1a;
    --gray-700: #0d0d0d;
    --purple: #8284fa;
    --purple-dark: #5e60ce;
    --blue: #4ea8de;
    --blue-dark: #2c7da0;
    --danger: #e25858;
}

body{
    background: var(--gray-600);
    min-height: 100vh;
    color: var(--gray-100);
    -webkit-font-smoothing: antialiased;
}

button{
    cursor: pointer;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-100);
    gap: .5rem;
}

.header span{
    color: var(--purple);
}

.header button{
    background: transparent;
    border: none;
}

h1{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 700;
}

ul{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.to-do {
    background: var(--gray-700);
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 12.5rem;
        gap: 20px;
}

.textInsert{
    height: 100%;
    flex: 1;
    border: 1px solid var(--gray-700);
    border-radius: .5rem;
    padding: 0 1rem;
    background: var(--gray-500);
    color: var(--gray-100);
    font-size: 1rem;
}

.divInsert{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: calc(-3.375rem / 2);
    max-width: 46rem;
    height: 3.375rem;
    gap: .5rem;
    padding: 0 1rem;
}

.divInsert input{     
    height: 100%;
    flex: 1;
    border: 1px solid var(--gray-700);
    border-radius: .5rem;
    padding: 0 1rem;
    background: var(--gray-500);
    color: var(--gray-100);
    font-size: 1rem;
}

.divInsert input::placeholder {
    color: var(--gray-300);
}

.divInsert button{
    height: 100%;
    padding: 0 1rem;
    border: none;
    border-radius: .5rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 700;
    font-size: .875rem;
}

.tasks {
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
    margin-top: 5.625rem;
    padding: 0 1rem;
}

.headerTasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.headerTasks div {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.headerTasks p {
    color: var(--blue);
    font-size: .875rem;
    font-weight: 700;
}

.headerTasks p.textPurple {
    color: var(--purple);
}

.headerTasks span {
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 3px 9px;
    border-radius: 999px;
    font-size: .75rem;
    font-weight: 700;
}

.tasks ul {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.divLi {
    width: 100%;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
}

.divLi span {
    font-size: .875rem;
    line-height: 1.18rem;
    color: var(--gray-100);
    margin-right: auto;
}

.checkContainer {
    min-width: 1.125rem;
    height: 1.125rem;
    background: none;
    border: none;
}

.checkContainer input {
    appearance: none;

    width: 100%;
    height: 100%;
    border: 2px solid var(--blue);
    border-radius: 50%;

    position: relative;
}

.checkContainer input:checked::before {
    content: "✓";
    color: var(--gray-100);
    font-size: .8rem;
    width: 100%;
    border: 2px solid var(--purple-dark);
    border-radius: 50%;
    background: var(--purple-dark);
    position: absolute;
    top: -.2rem;
    left: -.070rem;
}

.deleteButton {
    background: none;
    border: none;
}

li{
    list-style: none;
}

.line-through{
    text-decoration: line-through;
}



/* .header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gray-100);
    gap: .5rem;
} */
/* .header-logo span{
    color: var(--purple);
} */

/* .newTaskForm{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: calc(-3.375rem / 2);
    max-width: 46rem;
    height: 3.375rem;
    gap: .5rem;
    padding: 0 1rem;
}

.newTaskForm input{
    height: 100%;
    flex: 1;
    border: 1px solid var(--gray-700);
    border-radius: .5rem;
    padding: 0 1rem;
    background: var(--gray-500);
    color: var(--gray-100);
    font-size: 1rem;
}

.newTaskForm input::placeholder{
    color: var(--gray-300);
}

.newTaskForm button{
    height: 100%;
    padding: 0 1rem;
    border: none;
    border-radius: .5rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 700;
    font-size: .875rem;
}

.tasks{
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
    margin-top: 5.625rem;
    padding: 0 1rem;
}

.headerTasks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.headerTasks div{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.headerTasks p{
    color: var(--blue);
    font-size: .875rem;
    font-weight: 700;
}

.headerTasks p.textPurple{
    color: var(--purple);
}

.headerTasks span{
    background: var(--gray-400);
    color: var(--gray-200);
    padding: 3px 9px;
    border-radius: 999px;
    font-size: .75rem;
    font-weight: 700;
}

.list{
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.task{
    width: 100%;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
}

.task p{
    font-size: .875rem;
    line-height: 1.18rem;
    color: var(--gray-100);
    margin-right: auto;
}

.checkContainer{
    min-width: 1.125rem;
    height: 1.125rem;
    background: none;
    border: none;
}

.checkContainer input{
    appearance: none;
    
    width: 100%;
    height: 100%;
    border: 2px solid var(--blue);
    border-radius: 50%;

    position: relative;
}
.checkContainer input:checked::before{
    content: "✓";
    color: var(--gray-100);
    font-size: .8rem;
    width: 100%;
    border: 2px solid var(--purple-dark);
    border-radius: 50%;
    background: var(--purple-dark);
    position: absolute;
    top: -.2rem;
    left: -.070rem;
}

.deleteButton{
    background: none;
    border: none;
} */

